.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.number {
    font-size: 5rem;
    color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}